<section class="manufactory">
  <div class="container">
    <div class="manufactory__wrapper">
      <div class="manufactory__miniwrapper">
        <h2 class="manufactory__title manufactory__title_br">
          У тебе <br> кондитерська <br> чи маленьке <br> виробництво?
        </h2>

        <h2 class="manufactory__title">
          У тебе кондитерська чи маленьке виробництво?
        </h2>

        <div class="manufactory__btns">
          <button class="btn manufactory_btn">
            Зареєструватись, як спеціаліст
          </button>
          <button class="btn manufactory_btn">
            Стати кондитером тут
          </button>
          <button class="btn">Більше</button>
        </div>
      </div>

      <div class="manufactory__bg">
        <picture>
          <source media="(max-width: 1100px)" srcset="assets/images/manufactory/manufactory.jpg 1x">
          <source media="(max-width: 1101px" srcset="assets/images/manufactory/manufactory_big.jpg 1x">
          <img class="manufactory__photo" src="assets/images/manufactory/manufactory_big.jpg" alt="photo">
        </picture>
      </div>
    </div>
  </div>
</section>
