<section class="footer">
  <div class="container">
    <h2 class="footer__title">
      <img class="logo" src="assets/icons/logo.svg" alt="logo">
    </h2>

    <div class="footer__wrapper">
      <div class="footer__miniwrapper">
        <div>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">
                Про Торти
              </a>
            </li>

            <li class="footer__item">
              <a href="#" class="footer__link">
                Правила сайту
              </a>
            </li>

            <li class="footer__item">
              <a href="#" class="footer__link">
                Політика конфіденційності
              </a>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="footer__list-title">кондитерам</h3>

          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">
                Пакети
              </a>
            </li>

            <li class="footer__item">
              <a href="#" class="footer__link">
                Зареєструватись як кондитер
              </a>
            </li>

            <li class="footer__item">
              <a href="#" class="footer__link">
                Вимоги до фотографій
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__miniwrapper">
        <div>
          <h3 class="footer__list-title">покупцям</h3>

          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">
                Знайти торт
              </a>
            </li>

            <li class="footer__item">
              <a href="#" class="footer__link">
                Знайти кондитера
              </a>
            </li>
          </ul>
        </div>

        <div>
          <h3 class="footer__list-title">зв'язатися з нами</h3>

          <ul class="footer__list">
            <li class="footer__item">
              <a href="#" class="footer__link">
                Служба підтримки
              </a>
            </li>

            <li class="footer__item">
              <a href="#" class="footer__link">
                Співпраця
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__contact">
      <img src="assets/icons/facebook.svg" alt="facebook">
      <img src="assets/icons/instagram.svg" alt="instagram">
    </div>
  </div>

  <div class="footer__web">
    <div class="container">
      © 2020 Tortutyt.com
    </div>
  </div>
</section>
