<header class="header">
  <nav class="nav">
    <img class="logo nav_logo" src="assets/icons/logo.svg" alt="logo">

    <div class="nav__left">
      <img class="logo nav__left_logo" src="assets/icons/logo.svg" alt="logo">

      <div class="nav__catalog">Каталог</div>

      <div class="nav__events">Святкові події</div>

      <a class="nav__dessert" href="#">Десерт дня</a>

      <div class="nav__search">
        <input type="text" placeholder="Знайти">
        <button class="nav__search-btn">
          <img src="assets/icons/search.svg" alt="search">
        </button>
      </div>

      <button class="btn nav__btn">
        Меню
        <img src="assets/icons/menu.svg" alt="menu">
      </button>
    </div>

    <div class="nav__right">
      <button class="btn nav__right_btn-signup">Зареєструватись</button>
      <button class="btn nav__right_btn-login">Вхід</button>

      <div class="nav__wrapper">
        <div class="nav__city">Місто</div>

        <select class="nav__cities">
          <option value="kramatorsk">Краматорськ</option>
          <option value="lviv">Львів</option>
          <option value="kyiv">Київ</option>
        </select>
      </div>
    </div>
  </nav>

  <section class="header__promo">
    <picture>
      <source media="(max-width: 320px)" srcset="assets/images/header/cake-here.jpg 1x">
      <source media="(max-width: 321px" srcset="assets/images/header/cake-here_big.jpg 1x">
      <img class="header__img" src="assets/images/header/cake-here_big.jpg" alt="cakes here">
    </picture>

    <div class="header__wrapper">
      <h1 class="header__title">Всі торти тут</h1>

      <p class="header__descr">
        Всі торти в одній онлайн локації. Всі торти в одній онлайн локації. Всі торти в одній онлайн локації.
      </p>

      <button class="btn header_btn">Знайти торт</button>
    </div>
  </section>
</header>
