<section class="confectioners">
  <div class="container">
    <h2 class="confectioners__title">Топ кондитерів Львова</h2>

    <div style="position: relative">
      <div class="confectioners__wrapper">
        <app-confectioner *ngFor="let confectioner of confectioners"  [confectioner]="confectioner"></app-confectioner>

        <div class="confectioners__hidden"></div>
      </div>
      <button class="slider-btn-left"></button>
      <button class="slider-btn-right"></button>
    </div>

    <button class="btn confectioners_btn">Дивитись всі</button>
  </div>
</section>
