.confectioners {
  padding-top: 120px;
  &__title {
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--text-black);
  }
  &__wrapper {
    margin-top: 16px;
    padding: 50px 0 50px 2px ;
    display: flex;
    column-gap: 24px;
    overflow: hidden;
    position: relative;
  }
  &__hidden {
    width: 207px;
    height: 654px;
    position: absolute;
    top: 20px;
    right: -80px;
    background: linear-gradient(270deg, #FFFFFF 38.54%, rgba(255, 255, 255, 0) 100%);
  }
  &__miniwrapper {
    display: none;
  }
  &_btn {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
  }
}

@media (max-width: 1400px) {
  .confectioners {
    padding-top: 70px;
    &__hidden {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .confectioners {
    &__wrapper {
      margin-top: 0;
      column-gap: 13px;
    }
    &_btn {
      margin-top: 0;
    }
  }
}

@media (max-width: 467px) {
  .confectioners {
    padding-top: 55px;
    &__miniwrapper {
      padding-top: 20px;
    }
    &__title {
      font-weight: 600;
      font-size: 28px;
      line-height: 32px;
    }
    &_btn {
      display: none;
    }
  }
}
