<section class="confectioners">
  <div class="container">
    <h2 class="confectioners__title">Топ кондитерів Львова</h2>

    <div style="position: relative">
      <div class="confectioners__wrapper">
        <div class="confectioners__box">
          <div class="confectioners__box-imgs">
            <img class="confectioners__box-photo" src="assets/images/confectioners/galina-bgilka/galina-bgilka_big.png" alt="confectioner">
            <div class="confectioners__box-cake-imgs">
              <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-1_big.png" alt="cake">
              <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-2_big.png" alt="cake">
            </div>
          </div>

          <h2 class="confectioners__box-name">Галина Бджілка</h2>

          <div class="confectioners__box-btns">
            <button class="btn confectioners__box_btn">Торт</button>
            <button class="btn confectioners__box_btn">Маффін</button>
            <button class="btn confectioners__box_btn">Чізкейк</button>
            <button class="btn confectioners__box_btn">Весільний торт</button>
            <button class="btn confectioners__box_btn">Зефір</button>
          </div>

          <div class="confectioners__box-wrapper">
            <div class="confectioners__box-feedback">
              <div class="confectioners__box-feedback-descr">
                <div>97% позитивних відгуків</div>
                <div class="confectioners__box-feedback-num">32</div>
              </div>

              <div class="confectioners__box-feedback-scale">
                <div class="confectioners__box-feedback-line"></div>
              </div>
            </div>

            <button class="btn confectioners__box_btn-size">Більше</button>
          </div>
        </div>

        <div class="confectioners__box">
          <div class="confectioners__box-imgs">
            <img class="confectioners__box-photo" src="assets/images/confectioners/oksana-himin/oksana-himin.png" alt="confectioner">
            <div class="confectioners__box-cake-imgs">
              <img class="confectioners__box-cake-img" src="assets/images/confectioners/oksana-himin/cake-1.png" alt="cake">
              <img class="confectioners__box-cake-img" src="assets/images/confectioners/oksana-himin/cake-2.png" alt="cake">
            </div>
          </div>

          <h2 class="confectioners__box-name">Оксана Химин</h2>

          <div class="confectioners__box-btns">
            <button class="btn confectioners__box_btn">Торт</button>
            <button class="btn confectioners__box_btn">Маффін</button>
            <button class="btn confectioners__box_btn">Чізкейк</button>
            <button class="btn confectioners__box_btn">Весільний торт</button>
            <button class="btn confectioners__box_btn">Зефір</button>
          </div>

          <div class="confectioners__box-wrapper">
            <div class="confectioners__box-feedback">
              <div class="confectioners__box-feedback-descr">
                <div>97% позитивних відгуків</div>
                <div class="confectioners__box-feedback-num">32</div>
              </div>

              <div class="confectioners__box-feedback-scale">
                <div class="confectioners__box-feedback-line"></div>
              </div>
            </div>

            <button class="btn confectioners__box_btn-size">Більше</button>
          </div>
        </div>

        <div class="confectioners__box">
          <div class="confectioners__box-imgs">
            <img class="confectioners__box-photo" src="assets/images/confectioners/daria-trikta/daria-trikta.png" alt="confectioner">
            <div class="confectioners__box-cake-imgs">
              <img class="confectioners__box-cake-img" src="assets/images/confectioners/daria-trikta/cake-1.png" alt="cake">
              <img class="confectioners__box-cake-img" src="assets/images/confectioners/daria-trikta/cake-2.png" alt="cake">
            </div>
          </div>

          <h2 class="confectioners__box-name">Дарія Трікта</h2>

          <div class="confectioners__box-btns">
            <button class="btn confectioners__box_btn">Торт</button>
            <button class="btn confectioners__box_btn">Маффін</button>
            <button class="btn confectioners__box_btn">Чізкейк</button>
            <button class="btn confectioners__box_btn">Весільний торт</button>
            <button class="btn confectioners__box_btn">Зефір</button>
          </div>

          <div class="confectioners__box-wrapper">
            <div class="confectioners__box-feedback">
              <div class="confectioners__box-feedback-descr">
                <div>97% позитивних відгуків</div>
                <div class="confectioners__box-feedback-num">32</div>
              </div>

              <div class="confectioners__box-feedback-scale">
                <div class="confectioners__box-feedback-line"></div>
              </div>
            </div>

            <button class="btn confectioners__box_btn-size">Більше</button>
          </div>
        </div>

        <div class="confectioners__hidden"></div>
      </div>
      <button class="slider-btn-left"></button>
      <button class="slider-btn-right"></button>
    </div>

<!--@media (max-width: 992px)-->

    <div class="confectioners__miniwrapper">
      <div class="confectioners__box">
        <div class="confectioners__box-img">
          <img class="confectioners__box-photo" src="assets/images/confectioners/galina-bgilka/galina-bgilka.png" alt="confectioner">
          <h2 class="confectioners__box-name">Галина Бджілка</h2>
        </div>

        <div class="confectioners__box-feedback">
          <div class="confectioners__box-feedback-num">32</div>

          <div class="confectioners__box-feedback-descr">
            <div>97% позитивних відгуків</div>

            <div class="confectioners__box-feedback-scale">
              <div class="confectioners__box-feedback-line"></div>
            </div>
          </div>
        </div>

        <div class="confectioners__box-btns">
          <button class="btn confectioners__box_btn">Маффін</button>
          <button class="btn confectioners__box_btn">Весільний торт</button>
          <button class="btn confectioners__box_btn">Торт</button>
          <button class="btn confectioners__box_btn">Зефір</button>
          <button class="btn confectioners__box_btn">Чізкейк</button>
        </div>

        <div class="confectioners__box-imgs">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-1.png" alt="cake">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-2.png" alt="cake">
        </div>
      </div>

      <div class="confectioners__box">
        <div class="confectioners__box-img">
          <img class="confectioners__box-photo" src="assets/images/confectioners/galina-bgilka/galina-bgilka.png" alt="confectioner">
          <h2 class="confectioners__box-name">Галина Бджілка</h2>
        </div>

        <div class="confectioners__box-feedback">
          <div class="confectioners__box-feedback-num">32</div>

          <div class="confectioners__box-feedback-descr">
            <div>97% позитивних відгуків</div>

            <div class="confectioners__box-feedback-scale">
              <div class="confectioners__box-feedback-line"></div>
            </div>
          </div>
        </div>

        <div class="confectioners__box-btns">
          <button class="btn confectioners__box_btn">Маффін</button>
          <button class="btn confectioners__box_btn">Весільний торт</button>
          <button class="btn confectioners__box_btn">Торт</button>
          <button class="btn confectioners__box_btn">Зефір</button>
          <button class="btn confectioners__box_btn">Чізкейк</button>
        </div>

        <div class="confectioners__box-imgs">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-1.png" alt="cake">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-2.png" alt="cake">
        </div>
      </div>

      <div class="confectioners__box">
        <div class="confectioners__box-img">
          <img class="confectioners__box-photo" src="assets/images/confectioners/galina-bgilka/galina-bgilka.png" alt="confectioner">
          <h2 class="confectioners__box-name">Галина Бджілка</h2>
        </div>

        <div class="confectioners__box-feedback">
          <div class="confectioners__box-feedback-num">32</div>

          <div class="confectioners__box-feedback-descr">
            <div>97% позитивних відгуків</div>

            <div class="confectioners__box-feedback-scale">
              <div class="confectioners__box-feedback-line"></div>
            </div>
          </div>
        </div>

        <div class="confectioners__box-btns">
          <button class="btn confectioners__box_btn">Маффін</button>
          <button class="btn confectioners__box_btn">Весільний торт</button>
          <button class="btn confectioners__box_btn">Торт</button>
          <button class="btn confectioners__box_btn">Зефір</button>
          <button class="btn confectioners__box_btn">Чізкейк</button>
        </div>

        <div class="confectioners__box-imgs">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-1.png" alt="cake">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-2.png" alt="cake">
        </div>
      </div>

      <div class="confectioners__box">
        <div class="confectioners__box-img">
          <img class="confectioners__box-photo" src="assets/images/confectioners/galina-bgilka/galina-bgilka.png" alt="confectioner">
          <h2 class="confectioners__box-name">Галина Бджілка</h2>
        </div>

        <div class="confectioners__box-feedback">
          <div class="confectioners__box-feedback-num">32</div>

          <div class="confectioners__box-feedback-descr">
            <div>97% позитивних відгуків</div>

            <div class="confectioners__box-feedback-scale">
              <div class="confectioners__box-feedback-line"></div>
            </div>
          </div>
        </div>

        <div class="confectioners__box-btns">
          <button class="btn confectioners__box_btn">Маффін</button>
          <button class="btn confectioners__box_btn">Весільний торт</button>
          <button class="btn confectioners__box_btn">Торт</button>
          <button class="btn confectioners__box_btn">Зефір</button>
          <button class="btn confectioners__box_btn">Чізкейк</button>
        </div>

        <div class="confectioners__box-imgs">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-1.png" alt="cake">
          <img class="confectioners__box-cake-img" src="assets/images/confectioners/galina-bgilka/cake-2.png" alt="cake">
        </div>
      </div>
    </div>

    <button class="btn confectioners_btn">Дивитись всі</button>
  </div>
</section>
