.box {
  width: 264px;
  padding: 16px 16px 20px 16px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 10px 10px 50px rgba(33, 43, 54, 0.14);
    filter: grayscale(50%);
    transform: scale(1.02);
  }
  &-img {
    width: 232px;
  }
  &-time {
    margin-top: 6px;
    font-weight: 400;
    font-size: 12px;
    color: var(--main-color);
  }
  &-btns {
    margin-top: 9px;
    display: flex;
    column-gap: 8px;
  }
  &_btn {
    width: unset;
    height: 18px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 12px;
  }
  &-cake {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-grey)
  }
  &-minicake {
    display: none;
  }
  &-price {
    margin-top: 3px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-black)
  }
  &-wrapper {
    margin-top: 33px;
    display: flex;
    column-gap: 8px;
  }
  &-photo {
    width: 40px;
    height: 40px;
  }
  &-name {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-grey);
  }
  &-location {
    padding-left: 14px;
    position: relative;
    font-weight: 400;
    font-size: 12px;
    color: var(--main-color);
    &::before {
      content: url("../../../assets/icons/location.svg");
      position: absolute;
      left: 0;
    }
  }
}

@media (max-width: 1400px) {
  .box {
    &:hover {
      box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
      filter: none;
      transform: none;
    }
  }
}

//@media (max-width: 1095px) {
//  .box {
//    &:nth-child(-n+2) {
//      display: none;
//    }
//  }
//}

@media (max-width: 992px) {
  .box {
    width: 144px;
    padding: 4px;
    position: relative;
    &:nth-child(-n+2) {
      display: block;
    }
    &-img {
      width: 136px;
    }
    &-time {
      display: none;
    }
    &-btns {
      display: none;
    }
    &-minicake {
      display: block;
    }
    &-price {
      margin-top: 0;
      position: absolute;
      bottom: 15px;
    }
    &-wrapper {
      margin-top: 10px;
      justify-content: end;
    }
    &-photo {
      width: 30px;
      height: 30px;
    }
    &-name {
      display: none;
    }
    &-location {
      display: none;
    }
  }
}

//@media (max-width: 645px) {
//  .box {
//    &:nth-child(-n+2) {
//      display: none;
//    }
//  }
//}
