<section class="advantage">
  <div class="container container_padding">
    <ul class="advantage__list">
      <li class="advantage__item">
        <a class="advantage__link advantage__link_service" href="#">
          Зручний сервіс для вибору десертів
        </a>
      </li>
      <li class="advantage__item">
        <a class="advantage__link advantage__link_feedback" href="#">
          Правдиві відгуки про кондитерів
        </a>
      </li>
      <li class="advantage__item">
        <a class="advantage__link advantage__link_dessert" href="#">
          ШВИДКИЙ ПОШУК ДЕСЕРТУ
        </a>
        <a class="advantage__link" href="#">
          Безпечна доставка від торти тут
        </a>
      </li>
    </ul>
  </div>
</section>
