<section class="events">
  <div class="container">
    <h2 class="events__title">Святкові події</h2>

    <div class="events__wrapper">
      <div class="events__box">
        <div>
          <h3 class="events__box-title">Весілля</h3>
          <p class="events__box-descr">
            Скоро весілля?! Знайди найкращий торт тут
          </p>
          <button class="btn events__box-btn">Знайти торт</button>
        </div>

        <picture class="events__box-picture">
          <source media="(max-width: 1200px)" srcset="assets/images/events/wedding.png 1x">
          <source media="(max-width: 1201px" srcset="assets/images/events/wedding_big.png 1x">
          <img class="events__box-img" src="assets/images/events/wedding_big.png" alt="cake">
        </picture>
      </div>

      <div class="events__box">
        <div>
          <h3 class="events__box-title">День народження</h3>
          <p class="events__box-descr">
            Не всеодно на чому свічки задувати
          </p>
          <button class="btn events__box-btn">Знайти торт</button>
        </div>

        <picture class="events__box-picture">
          <source media="(max-width: 1200px)" srcset="assets/images/events/birth.png 1x">
          <source media="(max-width: 1201px" srcset="assets/images/events/birth_big.png 1x">
          <img class="events__box-img" src="assets/images/events/birth_big.png" alt="cake">
        </picture>
      </div>
    </div>

    <button class="btn events_btn">Всі події</button>
  </div>
</section>
